In [1]:
import pandas as pd
import os

In [2]:
reports_cr_path = '../reports/classification_reports/'

In [3]:
list_cr = os.listdir(reports_cr_path)
list_cr.sort()
list_cr

['DummyClassifier_top_mentioned_timelines_Texts_classification_report.csv',
 'DummyClassifier_users_Stance_classification_report.csv',
 'DummyClassifier_users_Timeline_classification_report.csv',
 'XGBClassifier_TfidfVectorizer()_top_mentioned_timelines_Texts_classification_report.csv',
 'XGBClassifier_TfidfVectorizer()_users_Stance_classification_report.csv',
 'XGBClassifier_TfidfVectorizer()_users_Timeline_classification_report.csv',
 'XGBClassifier_TfidfVectorizer_top_mentioned_timelines_Texts_classification_report.csv',
 'bertimbau_xgb_top_mentioned_timelines_emb_Texts_classification_report.csv',
 'bertimbau_xgb_users_emb_Stance_classification_report.csv',
 'bertimbau_xgb_users_emb_Timeline_classification_report.csv',
 'llama3_Stance_classification_report.csv',
 'llama3_bo_Stance_classification_report.csv',
 'llama3_cl_Stance_classification_report.csv',
 'llama3_co_Stance_classification_report.csv',
 'llama3_gl_Stance_classification_report.csv',
 'llama3_ig_Stance_classification_report.csv',
 'llama3_lu_Stance_classification_report.csv',
 'llama3_prompt1_Stance_classification_report.csv']

In [4]:
df_results = pd.DataFrame({})
for file_name in list_cr:
    
    full_file_name = reports_cr_path + file_name
    
    results = pd.read_csv(full_file_name)
    
    results['file_name'] = file_name
    
    df_results = pd.concat([results, df_results])

In [12]:
results

,Unnamed: 0,class,precision,recall,f1-score,support,Target,file_name
0,0,0,0.727069,0.958702,0.826972,339.000000,Church,llama3_prompt1_Stance_classification_report.csv
1,1,accuracy,0.772955,0.772955,0.772955,0.772955,Church,llama3_prompt1_Stance_classification_report.csv
2,2,weighted avg,0.805558,0.772955,0.758795,599.000000,Church,llama3_prompt1_Stance_classification_report.csv
3,3,macro avg,0.817482,0.744736,0.748437,599.000000,Church,llama3_prompt1_Stance_classification_report.csv
4,4,1,0.907895,0.530769,0.669903,260.000000,Church,llama3_prompt1_Stance_classification_report.csv
5,0,0,0.891429,0.962963,0.925816,162.000000,Bolsonaro,llama3_prompt1_Stance_classification_report.csv
6,1,accuracy,0.867021,0.867021,0.867021,0.867021,Bolsonaro,llama3_prompt1_Stance_classification_report.csv
7,2,weighted avg,0.842614,0.867021,0.847423,188.000000,Bolsonaro,llama3_prompt1_Stance_classification_report.csv
8,3,macro avg,0.714945,0.616097,0.642395,188.000000,Bolsonaro,llama3_prompt1_Stance_classification_report.csv
9,4,1,0.538462,0.269231,0.358974,26.000000,Bolsonaro,llama3_prompt1_Stance_classification_report.csv
10,0,0,0.582022,0.896194,0.705722,289.000000,Hidroxicloroquina,llama3_prompt1_Stance_classification_report.csv
11,1,accuracy,0.623693,0.623693,0.623693,0.623693,Hidroxicloroquina,llama3_prompt1_Stance_classification_report.csv
12,2,weighted avg,0.674086,0.623693,0.592784,574.000000,Hidroxicloroquina,llama3_prompt1_Stance_classification_report.csv
13,3,macro avg,0.674732,0.621781,0.591991,574.000000,Hidroxicloroquina,llama3_prompt1_Stance_classification_report.csv
14,4,1,0.767442,0.347368,0.478261,285.000000,Hidroxicloroquina,llama3_prompt1_Stance_classification_report.csv
15,0,0,0.527687,0.915254,0.669421,354.000000,Sinovac,llama3_prompt1_Stance_classification_report.csv
16,1,accuracy,0.586563,0.586563,0.586563,0.586563,Sinovac,llama3_prompt1_Stance_classification_report.csv
17,2,macro avg,0.670094,0.612389,0.558849,774.000000,Sinovac,llama3_prompt1_Stance_classification_report.csv
18,3,weighted avg,0.682237,0.586563,0.549420,774.000000,Sinovac,llama3_prompt1_Stance_classification_report.csv
19,4,1,0.812500,0.309524,0.448276,420.000000,Sinovac,llama3_prompt1_Stance_classification_report.csv
20,0,0,0.568421,0.970060,0.716814,167.000000,Globo TV,llama3_prompt1_Stance_classification_report.csv
21,1,accuracy,0.688564,0.688564,0.688564,0.688564,Globo TV,llama3_prompt1_Stance_classification_report.csv
22,2,macro avg,0.764369,0.732981,0.685434,411.000000,Globo TV,llama3_prompt1_Stance_classification_report.csv
23,3,weighted avg,0.801080,0.688564,0.679555,411.000000,Globo TV,llama3_prompt1_Stance_classification_report.csv
24,4,1,0.960317,0.495902,0.654054,244.000000,Globo TV,llama3_prompt1_Stance_classification_report.csv
25,0,0,0.692737,0.867133,0.770186,143.000000,Lula,llama3_prompt1_Stance_classification_report.csv
26,1,accuracy,0.727941,0.727941,0.727941,0.727941,Lula,llama3_prompt1_Stance_classification_report.csv
27,2,weighted avg,0.741568,0.727941,0.721091,272.000000,Lula,llama3_prompt1_Stance_classification_report.csv
28,3,macro avg,0.744218,0.720388,0.718427,272.000000,Lula,llama3_prompt1_Stance_classification_report.csv
29,4,1,0.795699,0.573643,0.666667,129.000000,Lula,llama3_prompt1_Stance_classification_report.csv

In [6]:
df_results[
    (df_results['class'] == 'macro avg') &
    (df_results['file_name'] == 'bertimbau_xgb_top_mentioned_timelines_emb_Texts_classification_report.csv')
    ].sort_values('f1-score')

,Unnamed: 0,class,precision,recall,f1-score,support,Target,file_name,corpus,preprocessing,estimator
8,3,macro avg,0.599099,0.513058,0.495578,188.0,NaN,bertimbau_xgb_top_mentioned_timelines_emb_Text...,bo,emb,"XGBClassifier(base_score=None, booster=None, c..."
28,3,macro avg,0.534621,0.534396,0.534247,272.0,NaN,bertimbau_xgb_top_mentioned_timelines_emb_Text...,lu,emb,"XGBClassifier(base_score=None, booster=None, c..."
23,3,macro avg,0.557252,0.545978,0.538248,411.0,NaN,bertimbau_xgb_top_mentioned_timelines_emb_Text...,gl,emb,"XGBClassifier(base_score=None, booster=None, c..."
3,3,macro avg,0.581873,0.575715,0.574271,599.0,NaN,bertimbau_xgb_top_mentioned_timelines_emb_Text...,ig,emb,"XGBClassifier(base_score=None, booster=None, c..."
13,3,macro avg,0.621411,0.617878,0.615431,574.0,NaN,bertimbau_xgb_top_mentioned_timelines_emb_Text...,cl,emb,"XGBClassifier(base_score=None, booster=None, c..."
18,3,macro avg,0.675719,0.674052,0.674552,774.0,NaN,bertimbau_xgb_top_mentioned_timelines_emb_Text...,co,emb,"XGBClassifier(base_score=None, booster=None, c..."

In [7]:
df_results_macro = df_results[df_results['class'] == 'macro avg'].sort_values('f1-score')
df_results_macro.head()

,Unnamed: 0,class,precision,recall,f1-score,support,Target,file_name,corpus,preprocessing,estimator
13,3,macro avg,0.251742,0.5,0.334878,574.0,NaN,DummyClassifier_users_Timeline_classification_...,cl,NaN,DummyClassifier()
13,3,macro avg,0.251742,0.5,0.334878,574.0,NaN,DummyClassifier_users_Stance_classification_re...,cl,NaN,DummyClassifier()
13,3,macro avg,0.251742,0.5,0.334878,574.0,NaN,DummyClassifier_top_mentioned_timelines_Texts_...,cl,NaN,DummyClassifier()
28,3,macro avg,0.262868,0.5,0.344578,272.0,NaN,DummyClassifier_top_mentioned_timelines_Texts_...,lu,NaN,DummyClassifier()
28,3,macro avg,0.262868,0.5,0.344578,272.0,NaN,DummyClassifier_users_Stance_classification_re...,lu,NaN,DummyClassifier()

In [8]:
dict_cp = {
    'cl':'3. Hydrox.',
    'lu':'1. Lula',
    'co':'4. Sinovac',
    'ig':'6. Church',
    'gl':'5. Globo TV',
    'bo':'2. Bolsonaro',
}

In [9]:
df_results_macro.file_name.sort_values().unique()

array(['DummyClassifier_top_mentioned_timelines_Texts_classification_report.csv',
       'DummyClassifier_users_Stance_classification_report.csv',
       'DummyClassifier_users_Timeline_classification_report.csv',
       'XGBClassifier_TfidfVectorizer()_top_mentioned_timelines_Texts_classification_report.csv',
       'XGBClassifier_TfidfVectorizer()_users_Stance_classification_report.csv',
       'XGBClassifier_TfidfVectorizer()_users_Timeline_classification_report.csv',
       'XGBClassifier_TfidfVectorizer_top_mentioned_timelines_Texts_classification_report.csv',
       'bertimbau_xgb_top_mentioned_timelines_emb_Texts_classification_report.csv',
       'bertimbau_xgb_users_emb_Stance_classification_report.csv',
       'bertimbau_xgb_users_emb_Timeline_classification_report.csv',
       'llama3_Stance_classification_report.csv',
       'llama3_bo_Stance_classification_report.csv',
       'llama3_cl_Stance_classification_report.csv',
       'llama3_co_Stance_classification_report.csv',
       'llama3_gl_Stance_classification_report.csv',
       'llama3_ig_Stance_classification_report.csv',
       'llama3_lu_Stance_classification_report.csv',
       'llama3_prompt1_Stance_classification_report.csv'], dtype=object)

In [10]:
for file_name in df_results_macro.file_name.sort_values().unique():
    
    print(file_name)
    df_results_macro_c = df_results_macro[df_results_macro.file_name == file_name][['corpus','precision','recall' ,'f1-score']]
    df_results_macro_c.corpus = df_results_macro_c.corpus.map(dict_cp)
    df_results_macro_c.sort_values('corpus', inplace=True)
    
    df_results_macro_c.loc[len(df_results_macro_c)] = {
        'corpus':'overall',
        'precision':df_results_macro_c.precision.mean(),
        'recall':df_results_macro_c.recall.mean(),
        'f1-score':df_results_macro_c['f1-score'].mean(),
    }
    
    df_results_macro_c = df_results_macro_c.round(2)
    display(df_results_macro_c)
    print(' & '.join(df_results_macro_c['f1-score'].astype('str').tolist()))  
    
    print('\n\n\n\n')

DummyClassifier_top_mentioned_timelines_Texts_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.26     0.5      0.34
8   2. Bolsonaro       0.43     0.5      0.46
13    3. Hydrox.       0.25     0.5      0.33
18    4. Sinovac       0.27     0.5      0.35
23   5. Globo TV       0.30     0.5      0.37
3      6. Church       0.28     0.5      0.36
6        overall       0.30     0.5      0.37

0.34 & 0.46 & 0.33 & 0.35 & 0.37 & 0.36 & 0.37





DummyClassifier_users_Stance_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.26     0.5      0.34
8   2. Bolsonaro       0.43     0.5      0.46
13    3. Hydrox.       0.25     0.5      0.33
18    4. Sinovac       0.27     0.5      0.35
23   5. Globo TV       0.30     0.5      0.37
3      6. Church       0.28     0.5      0.36
6        overall       0.30     0.5      0.37

0.34 & 0.46 & 0.33 & 0.35 & 0.37 & 0.36 & 0.37





DummyClassifier_users_Timeline_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.26     0.5      0.34
8   2. Bolsonaro       0.43     0.5      0.46
13    3. Hydrox.       0.25     0.5      0.33
18    4. Sinovac       0.27     0.5      0.35
23   5. Globo TV       0.30     0.5      0.37
3      6. Church       0.28     0.5      0.36
6        overall       0.30     0.5      0.37

0.34 & 0.46 & 0.33 & 0.35 & 0.37 & 0.36 & 0.37





XGBClassifier_TfidfVectorizer()_top_mentioned_timelines_Texts_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.53    0.53      0.53
8   2. Bolsonaro       0.94    0.54      0.54
13    3. Hydrox.       0.61    0.61      0.61
18    4. Sinovac       0.67    0.67      0.67
23   5. Globo TV       0.55    0.54      0.54
3      6. Church       0.61    0.60      0.60
6        overall       0.65    0.58      0.58

0.53 & 0.54 & 0.61 & 0.67 & 0.54 & 0.6 & 0.58





XGBClassifier_TfidfVectorizer()_users_Stance_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.62    0.62      0.62
8   2. Bolsonaro       0.60    0.55      0.56
13    3. Hydrox.       0.73    0.73      0.73
18    4. Sinovac       0.72    0.71      0.71
23   5. Globo TV       0.67    0.66      0.66
3      6. Church       0.69    0.68      0.68
6        overall       0.67    0.66      0.66

0.62 & 0.56 & 0.73 & 0.71 & 0.66 & 0.68 & 0.66





XGBClassifier_TfidfVectorizer()_users_Timeline_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.74    0.74      0.74
8   2. Bolsonaro       0.78    0.64      0.68
13    3. Hydrox.       0.89    0.89      0.89
18    4. Sinovac       0.89    0.87      0.87
23   5. Globo TV       0.64    0.61      0.61
3      6. Church       0.70    0.69      0.69
6        overall       0.77    0.74      0.75

0.74 & 0.68 & 0.89 & 0.87 & 0.61 & 0.69 & 0.75





XGBClassifier_TfidfVectorizer_top_mentioned_timelines_Texts_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.57    0.57      0.57
8   2. Bolsonaro       0.93    0.52      0.50
13    3. Hydrox.       0.61    0.61      0.60
18    4. Sinovac       0.67    0.67      0.67
23   5. Globo TV       0.55    0.54      0.53
3      6. Church       0.61    0.61      0.61
6        overall       0.66    0.59      0.58

0.57 & 0.5 & 0.6 & 0.67 & 0.53 & 0.61 & 0.58





bertimbau_xgb_top_mentioned_timelines_emb_Texts_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.53    0.53      0.53
8   2. Bolsonaro       0.60    0.51      0.50
13    3. Hydrox.       0.62    0.62      0.62
18    4. Sinovac       0.68    0.67      0.67
23   5. Globo TV       0.56    0.55      0.54
3      6. Church       0.58    0.58      0.57
6        overall       0.59    0.58      0.57

0.53 & 0.5 & 0.62 & 0.67 & 0.54 & 0.57 & 0.57





bertimbau_xgb_users_emb_Stance_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.77    0.77      0.77
8   2. Bolsonaro       0.72    0.60      0.63
13    3. Hydrox.       0.83    0.83      0.83
18    4. Sinovac       0.81    0.81      0.81
23   5. Globo TV       0.78    0.78      0.78
3      6. Church       0.87    0.85      0.85
6        overall       0.80    0.77      0.78

0.77 & 0.63 & 0.83 & 0.81 & 0.78 & 0.85 & 0.78





bertimbau_xgb_users_emb_Timeline_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.65    0.65      0.65
8   2. Bolsonaro       0.77    0.66      0.69
12    3. Hydrox.       0.78    0.78      0.78
18    4. Sinovac       0.79    0.78      0.78
23   5. Globo TV       0.60    0.59      0.59
3      6. Church       0.67    0.66      0.66
6        overall       0.71    0.68      0.69

0.65 & 0.69 & 0.78 & 0.78 & 0.59 & 0.66 & 0.69





llama3_Stance_classification_report.csv

     corpus  precision  recall  f1-score
17      NaN       0.68    0.62      0.56
13      NaN       0.68    0.62      0.59
8       NaN       0.73    0.64      0.66
22      NaN       0.76    0.73      0.69
28      NaN       0.75    0.72      0.72
3       NaN       0.81    0.74      0.74
6   overall       0.73    0.68      0.66

0.56 & 0.59 & 0.66 & 0.69 & 0.72 & 0.74 & 0.66





llama3_bo_Stance_classification_report.csv

    corpus  precision  recall  f1-score
3      NaN       0.68    0.61      0.63
1  overall       0.68    0.61      0.63

0.63 & 0.63





llama3_cl_Stance_classification_report.csv

    corpus  precision  recall  f1-score
3      NaN        0.7    0.63       0.6
1  overall        0.7    0.63       0.6

0.6 & 0.6





llama3_co_Stance_classification_report.csv

    corpus  precision  recall  f1-score
2      NaN       0.68    0.62      0.57
1  overall       0.68    0.62      0.57

0.57 & 0.57





llama3_gl_Stance_classification_report.csv

    corpus  precision  recall  f1-score
2      NaN       0.76    0.73      0.68
1  overall       0.76    0.73      0.68

0.68 & 0.68





llama3_ig_Stance_classification_report.csv

    corpus  precision  recall  f1-score
3      NaN       0.82    0.75      0.75
1  overall       0.82    0.75      0.75

0.75 & 0.75





llama3_lu_Stance_classification_report.csv

    corpus  precision  recall  f1-score
3      NaN       0.75    0.72      0.72
1  overall       0.75    0.72      0.72

0.72 & 0.72





llama3_prompt1_Stance_classification_report.csv

     corpus  precision  recall  f1-score
17      NaN       0.67    0.61      0.56
13      NaN       0.67    0.62      0.59
8       NaN       0.71    0.62      0.64
22      NaN       0.76    0.73      0.69
28      NaN       0.74    0.72      0.72
3       NaN       0.82    0.74      0.75
6   overall       0.73    0.67      0.66

0.56 & 0.59 & 0.64 & 0.69 & 0.72 & 0.75 & 0.66