In [1]:
import pandas as pd
import os

In [2]:
reports_cr_path = '../reports/classification_reports/'

In [3]:
list_cr = os.listdir(reports_cr_path)
list_cr.sort()
list_cr

['DummyClassifier_top_mentioned_timelines_Texts_classification_report.csv',
 'DummyClassifier_users_Stance_classification_report.csv',
 'DummyClassifier_users_Timeline_classification_report.csv',
 'XGBClassifier_TfidfVectorizer()_top_mentioned_timelines_Texts_classification_report.csv',
 'XGBClassifier_TfidfVectorizer()_users_Stance_classification_report.csv',
 'XGBClassifier_TfidfVectorizer()_users_Timeline_classification_report.csv',
 'bertimbau_xgb_top_mentioned_timelines_emb_Texts_classification_report.csv',
 'bertimbau_xgb_users_emb_Stance_classification_report.csv',
 'bertimbau_xgb_users_emb_Timeline_classification_report.csv']

In [4]:
df_results = pd.DataFrame({})
for file_name in list_cr:
    
    full_file_name = reports_cr_path + file_name
    
    results = pd.read_csv(full_file_name)
    
    results['file_name'] = file_name
    
    
    df_results = pd.concat([results, df_results])

In [5]:
df_results[
    (df_results['class'] == 'macro avg') &
    (df_results['file_name'] == 'bertimbau_xgb_top_mentioned_timelines_emb_Texts_classification_report.csv')
    ].sort_values('f1-score')

,Unnamed: 0,class,precision,recall,f1-score,support,corpus,preprocessing,estimator,file_name
8,3,macro avg,0.557065,0.509972,0.492871,188.0,bo,emb,"XGBClassifier(base_score=None, booster=None, c...",bertimbau_xgb_top_mentioned_timelines_emb_Text...
23,3,macro avg,0.573106,0.559058,0.552715,411.0,gl,emb,"XGBClassifier(base_score=None, booster=None, c...",bertimbau_xgb_top_mentioned_timelines_emb_Text...
3,3,macro avg,0.595215,0.590073,0.589821,599.0,ig,emb,"XGBClassifier(base_score=None, booster=None, c...",bertimbau_xgb_top_mentioned_timelines_emb_Text...
13,3,macro avg,0.600587,0.596898,0.593553,574.0,cl,emb,"XGBClassifier(base_score=None, booster=None, c...",bertimbau_xgb_top_mentioned_timelines_emb_Text...
28,3,macro avg,0.601408,0.600748,0.600783,272.0,lu,emb,"XGBClassifier(base_score=None, booster=None, c...",bertimbau_xgb_top_mentioned_timelines_emb_Text...
18,3,macro avg,0.664395,0.664669,0.664514,774.0,co,emb,"XGBClassifier(base_score=None, booster=None, c...",bertimbau_xgb_top_mentioned_timelines_emb_Text...

In [6]:
df_results_macro = df_results[df_results['class'] == 'macro avg'].sort_values('f1-score')
df_results_macro.head()

,Unnamed: 0,class,precision,recall,f1-score,support,corpus,preprocessing,estimator,file_name
13,3,macro avg,0.251742,0.5,0.334878,574.0,cl,NaN,DummyClassifier(),DummyClassifier_users_Stance_classification_re...
13,3,macro avg,0.251742,0.5,0.334878,574.0,cl,NaN,DummyClassifier(),DummyClassifier_top_mentioned_timelines_Texts_...
13,3,macro avg,0.251742,0.5,0.334878,574.0,cl,NaN,DummyClassifier(),DummyClassifier_users_Timeline_classification_...
28,3,macro avg,0.262868,0.5,0.344578,272.0,lu,NaN,DummyClassifier(),DummyClassifier_top_mentioned_timelines_Texts_...
28,3,macro avg,0.262868,0.5,0.344578,272.0,lu,NaN,DummyClassifier(),DummyClassifier_users_Timeline_classification_...

In [9]:
dict_cp = {
    'cl':'3. Hydrox.',
    'lu':'1. Lula',
    'co':'4. Sinovac',
    'ig':'6. Church',
    'gl':'5. Globo TV',
    'bo':'2. Bolsonaro',
}

['0.74', '0.68', '0.89', '0.87', '0.61', '0.69', '0.75']

'0.74 & 0.68 & 0.89 & 0.87 & 0.61 & 0.69 & 0.75'

In [25]:
for file_name in df_results_macro.file_name.unique():
    
    print(file_name)
    df_results_macro_c = df_results_macro[df_results_macro.file_name == file_name][['corpus','precision','recall' ,'f1-score']]
    df_results_macro_c.corpus = df_results_macro_c.corpus.map(dict_cp)
    df_results_macro_c.sort_values('corpus', inplace=True)
    
    df_results_macro_c.loc[len(df_results_macro_c)] = {
        'corpus':'overall',
        'precision':df_results_macro_c.precision.mean(),
        'recall':df_results_macro_c.recall.mean(),
        'f1-score':df_results_macro_c['f1-score'].mean(),
    }
    
    df_results_macro_c = df_results_macro_c.round(2)
    display(df_results_macro_c)
    print(' & '.join(df_results_macro_c['f1-score'].astype('str').tolist()))  
    
    print('\n\n\n\n')

DummyClassifier_users_Stance_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.26     0.5      0.34
8   2. Bolsonaro       0.43     0.5      0.46
13    3. Hydrox.       0.25     0.5      0.33
18    4. Sinovac       0.27     0.5      0.35
23   5. Globo TV       0.30     0.5      0.37
3      6. Church       0.28     0.5      0.36
6        overall       0.30     0.5      0.37

0.34 & 0.46 & 0.33 & 0.35 & 0.37 & 0.36 & 0.37





DummyClassifier_top_mentioned_timelines_Texts_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.26     0.5      0.34
8   2. Bolsonaro       0.43     0.5      0.46
13    3. Hydrox.       0.25     0.5      0.33
18    4. Sinovac       0.27     0.5      0.35
23   5. Globo TV       0.30     0.5      0.37
3      6. Church       0.28     0.5      0.36
6        overall       0.30     0.5      0.37

0.34 & 0.46 & 0.33 & 0.35 & 0.37 & 0.36 & 0.37





DummyClassifier_users_Timeline_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.26     0.5      0.34
8   2. Bolsonaro       0.43     0.5      0.46
13    3. Hydrox.       0.25     0.5      0.33
18    4. Sinovac       0.27     0.5      0.35
23   5. Globo TV       0.30     0.5      0.37
3      6. Church       0.28     0.5      0.36
6        overall       0.30     0.5      0.37

0.34 & 0.46 & 0.33 & 0.35 & 0.37 & 0.36 & 0.37





bertimbau_xgb_top_mentioned_timelines_emb_Texts_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.60    0.60      0.60
8   2. Bolsonaro       0.56    0.51      0.49
13    3. Hydrox.       0.60    0.60      0.59
18    4. Sinovac       0.66    0.66      0.66
23   5. Globo TV       0.57    0.56      0.55
3      6. Church       0.60    0.59      0.59
6        overall       0.60    0.59      0.58

0.6 & 0.49 & 0.59 & 0.66 & 0.55 & 0.59 & 0.58





XGBClassifier_TfidfVectorizer()_top_mentioned_timelines_Texts_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.53    0.53      0.53
8   2. Bolsonaro       0.94    0.54      0.54
13    3. Hydrox.       0.61    0.61      0.61
18    4. Sinovac       0.67    0.67      0.67
23   5. Globo TV       0.55    0.54      0.54
3      6. Church       0.61    0.60      0.60
6        overall       0.65    0.58      0.58

0.53 & 0.54 & 0.61 & 0.67 & 0.54 & 0.6 & 0.58





bertimbau_xgb_users_emb_Stance_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.68    0.68      0.68
8   2. Bolsonaro       0.77    0.54      0.53
13    3. Hydrox.       0.72    0.72      0.72
18    4. Sinovac       0.69    0.69      0.69
23   5. Globo TV       0.78    0.77      0.77
3      6. Church       0.79    0.77      0.78
6        overall       0.74    0.69      0.69

0.68 & 0.53 & 0.72 & 0.69 & 0.77 & 0.78 & 0.69





bertimbau_xgb_users_emb_Timeline_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.62    0.61      0.61
8   2. Bolsonaro       0.84    0.77      0.80
12    3. Hydrox.       0.65    0.65      0.65
18    4. Sinovac       0.71    0.71      0.71
23   5. Globo TV       0.55    0.54      0.54
3      6. Church       0.65    0.65      0.65
6        overall       0.67    0.66      0.66

0.61 & 0.8 & 0.65 & 0.71 & 0.54 & 0.65 & 0.66





XGBClassifier_TfidfVectorizer()_users_Stance_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.62    0.62      0.62
8   2. Bolsonaro       0.60    0.55      0.56
13    3. Hydrox.       0.73    0.73      0.73
18    4. Sinovac       0.72    0.71      0.71
23   5. Globo TV       0.67    0.66      0.66
3      6. Church       0.69    0.68      0.68
6        overall       0.67    0.66      0.66

0.62 & 0.56 & 0.73 & 0.71 & 0.66 & 0.68 & 0.66





XGBClassifier_TfidfVectorizer()_users_Timeline_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.74    0.74      0.74
8   2. Bolsonaro       0.78    0.64      0.68
13    3. Hydrox.       0.89    0.89      0.89
18    4. Sinovac       0.89    0.87      0.87
23   5. Globo TV       0.64    0.61      0.61
3      6. Church       0.70    0.69      0.69
6        overall       0.77    0.74      0.75

0.74 & 0.68 & 0.89 & 0.87 & 0.61 & 0.69 & 0.75