In [1]:
import pandas as pd
import os
from sklearn.metrics import classification_report
from tqdm import tqdm

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
test_results_path = '../reports/test_results/'

In [4]:
list_df_t = os.listdir(test_results_path)
list_df_t.sort()
list_df_t

['llama3_Stance_prompt1_Stance_classification_report.csv',
 'llama3_Stance_prompt2_Stance_classification_report.csv',
 'llama3_Texts_prompt2_Texts_classification_report.csv',
 'llama3_Timeline_prompt2_Timeline_classification_report.csv',
 'llama3_filteredTimeline_prompt2_Timeline_classification_report.csv',
 'llama3_filtered_Texts_prompt2_Texts_classification_report.csv',
 'llama3_prompt2_Stance_classification_report.csv']

In [5]:
df_results = pd.DataFrame({})
for file_name in list_df_t:
    
    full_file_name = test_results_path + file_name
    
    results = pd.read_csv(full_file_name)
    print(f"""
###############################################
# {full_file_name}
###############################################""") 
    
    for target in results.target.unique():
        
        print(f'############# {target} #############')

        
        results_aux = results[results['target'] == target] 
        
        print('number of NaNs: ', results_aux['y_pred'].isna().sum())
        print('total: ', len(results_aux))
        
        results_aux.dropna(subset= ['y_pred'], inplace=True)
        
        if len(results_aux) == 0: continue
    
        cr = classification_report(results_aux.y_test, results_aux.y_pred)
    
        print(cr)
    
    print('\n\n')
    
    # df_results = pd.concat([results, df_results])

###############################################
# ../reports/test_results/llama3_Stance_prompt1_Stance_classification_report.csv
###############################################
############# Bolsonaro #############
number of NaNs:  188
total:  188




###############################################
# ../reports/test_results/llama3_Stance_prompt2_Stance_classification_report.csv
###############################################
############# Church #############
number of NaNs:  0
total:  599
              precision    recall  f1-score   support

           0       0.84      0.55      0.67       339
           1       0.60      0.86      0.71       260

    accuracy                           0.69       599
   macro avg       0.72      0.71      0.69       599
weighted avg       0.73      0.69      0.68       599

############# Bolsonaro #############
number of NaNs:  0
total:  188
              precision    recall  f1-score   support

           0       0.93      0.44      0.60       162
           1       0.19      0.81      0.30        26

    accuracy                           0.49       188
   macro avg       0.56      0.62      0.45       188
weighted avg       0.83      0.49      0.56       188

############# Hidroxicloroquina #############
number of NaNs:  0
total:  574
              precision    recall  f1-score   support

           0       0.67      0.56      0.61       289
           1       0.62      0.72      0.67       285

    accuracy                           0.64       574
   macro avg       0.65      0.64      0.64       574
weighted avg       0.65      0.64      0.64       574

############# Sinovac #############
number of NaNs:  0
total:  774
              precision    recall  f1-score   support

           0       0.53      0.46      0.49       354
           1       0.59      0.65      0.62       420

    accuracy                           0.56       774
   macro avg       0.56      0.56      0.56       774
weighted avg       0.56      0.56      0.56       774

############# Globo TV #############
number of NaNs:  0
total:  411
              precision    recall  f1-score   support

           0       0.79      0.54      0.65       167
           1       0.74      0.90      0.81       244

    accuracy                           0.76       411
   macro avg       0.77      0.72      0.73       411
weighted avg       0.76      0.76      0.75       411

############# Lula #############
number of NaNs:  0
total:  272
              precision    recall  f1-score   support

           0       0.87      0.48      0.62       143
           1       0.61      0.92      0.74       129

    accuracy                           0.69       272
   macro avg       0.74      0.70      0.68       272
weighted avg       0.75      0.69      0.67       272





###############################################
# ../reports/test_results/llama3_Texts_prompt2_Texts_classification_report.csv
###############################################
############# Church #############
number of NaNs:  5
total:  599
              precision    recall  f1-score   support

           0       0.54      0.18      0.27       336
           1       0.43      0.81      0.56       258

    accuracy                           0.45       594
   macro avg       0.49      0.49      0.41       594
weighted avg       0.49      0.45      0.39       594

############# Bolsonaro #############
number of NaNs:  1
total:  188
              precision    recall  f1-score   support

           0       0.91      0.19      0.31       161
           1       0.15      0.88      0.26        26

    accuracy                           0.28       187
   macro avg       0.53      0.54      0.28       187
weighted avg       0.80      0.28      0.30       187

############# Hidroxicloroquina #############
number of NaNs:  49
total:  574
              precision    recall  f1-score   support

           0       0.45      0.05      0.09       269
           1       0.48      0.93      0.64       256

    accuracy                           0.48       525
   macro avg       0.47      0.49      0.37       525
weighted avg       0.47      0.48      0.36       525

############# Sinovac #############
number of NaNs:  100
total:  774
              precision    recall  f1-score   support

           0       0.32      0.06      0.11       282
           1       0.57      0.90      0.70       392

    accuracy                           0.55       674
   macro avg       0.45      0.48      0.40       674
weighted avg       0.47      0.55      0.45       674

############# Globo TV #############
number of NaNs:  3
total:  411
              precision    recall  f1-score   support

           0       0.31      0.03      0.06       164
           1       0.59      0.95      0.73       244

    accuracy                           0.58       408
   macro avg       0.45      0.49      0.39       408
weighted avg       0.48      0.58      0.46       408

############# Lula #############
number of NaNs:  8
total:  272
              precision    recall  f1-score   support

           0       0.50      0.09      0.16       137
           1       0.48      0.90      0.62       127

    accuracy                           0.48       264
   macro avg       0.49      0.50      0.39       264
weighted avg       0.49      0.48      0.38       264





###############################################
# ../reports/test_results/llama3_Timeline_prompt2_Timeline_classification_report.csv
###############################################
############# Church #############
number of NaNs:  1
total:  599
              precision    recall  f1-score   support

           0       0.58      0.95      0.72       338
           1       0.59      0.10      0.17       260

    accuracy                           0.58       598
   macro avg       0.58      0.52      0.44       598
weighted avg       0.58      0.58      0.48       598

############# Bolsonaro #############
number of NaNs:  2
total:  188
              precision    recall  f1-score   support

           0       0.90      0.93      0.92       161
           1       0.45      0.36      0.40        25

    accuracy                           0.85       186
   macro avg       0.68      0.65      0.66       186
weighted avg       0.84      0.85      0.85       186

############# Hidroxicloroquina #############
number of NaNs:  23
total:  574
              precision    recall  f1-score   support

           0       0.54      0.88      0.67       274
           1       0.69      0.26      0.38       277

    accuracy                           0.57       551
   macro avg       0.62      0.57      0.52       551
weighted avg       0.62      0.57      0.52       551

############# Sinovac #############
number of NaNs:  29
total:  774
              precision    recall  f1-score   support

           0       0.44      0.76      0.55       340
           1       0.47      0.19      0.27       405

    accuracy                           0.45       745
   macro avg       0.46      0.47      0.41       745
weighted avg       0.46      0.45      0.40       745

############# Globo TV #############
number of NaNs:  2
total:  411
              precision    recall  f1-score   support

           0       0.40      0.78      0.53       166
           1       0.58      0.21      0.31       243

    accuracy                           0.44       409
   macro avg       0.49      0.50      0.42       409
weighted avg       0.51      0.44      0.40       409

############# Lula #############
number of NaNs:  3
total:  272
              precision    recall  f1-score   support

           0       0.53      0.84      0.65       141
           1       0.50      0.18      0.26       128

    accuracy                           0.52       269
   macro avg       0.51      0.51      0.46       269
weighted avg       0.52      0.52      0.47       269





###############################################
# ../reports/test_results/llama3_filteredTimeline_prompt2_Timeline_classification_report.csv
###############################################
############# Church #############
number of NaNs:  1
total:  599
              precision    recall  f1-score   support

           0       0.58      0.96      0.72       338
           1       0.66      0.10      0.17       260

    accuracy                           0.59       598
   macro avg       0.62      0.53      0.45       598
weighted avg       0.61      0.59      0.48       598

############# Bolsonaro #############
number of NaNs:  2
total:  188
              precision    recall  f1-score   support

           0       0.90      0.96      0.93       161
           1       0.54      0.28      0.37        25

    accuracy                           0.87       186
   macro avg       0.72      0.62      0.65       186
weighted avg       0.85      0.87      0.85       186

############# Hidroxicloroquina #############
number of NaNs:  23
total:  574
              precision    recall  f1-score   support

           0       0.53      0.88      0.66       274
           1       0.67      0.25      0.36       277

    accuracy                           0.56       551
   macro avg       0.60      0.56      0.51       551
weighted avg       0.60      0.56      0.51       551

############# Sinovac #############
number of NaNs:  29
total:  774
              precision    recall  f1-score   support

           0       0.44      0.74      0.56       340
           1       0.51      0.22      0.31       405

    accuracy                           0.46       745
   macro avg       0.48      0.48      0.43       745
weighted avg       0.48      0.46      0.42       745

############# Globo TV #############
number of NaNs:  2
total:  411
              precision    recall  f1-score   support

           0       0.39      0.73      0.51       166
           1       0.56      0.23      0.33       243

    accuracy                           0.44       409
   macro avg       0.48      0.48      0.42       409
weighted avg       0.49      0.44      0.40       409

############# Lula #############
number of NaNs:  3
total:  272
              precision    recall  f1-score   support

           0       0.52      0.81      0.63       141
           1       0.44      0.16      0.24       128

    accuracy                           0.50       269
   macro avg       0.48      0.49      0.43       269
weighted avg       0.48      0.50      0.44       269





###############################################
# ../reports/test_results/llama3_filtered_Texts_prompt2_Texts_classification_report.csv
###############################################
############# Church #############
number of NaNs:  34
total:  599
              precision    recall  f1-score   support

           0       0.57      0.25      0.35       316
           1       0.45      0.77      0.56       249

    accuracy                           0.48       565
   macro avg       0.51      0.51      0.45       565
weighted avg       0.52      0.48      0.44       565

############# Bolsonaro #############
number of NaNs:  33
total:  188
              precision    recall  f1-score   support

           0       0.91      0.24      0.38       135
           1       0.14      0.85      0.24        20

    accuracy                           0.32       155
   macro avg       0.53      0.54      0.31       155
weighted avg       0.81      0.32      0.36       155

############# Hidroxicloroquina #############
number of NaNs:  201
total:  574
              precision    recall  f1-score   support

           0       0.63      0.06      0.11       195
           1       0.48      0.96      0.64       178

    accuracy                           0.49       373
   macro avg       0.56      0.51      0.38       373
weighted avg       0.56      0.49      0.37       373

############# Sinovac #############
number of NaNs:  297
total:  774
              precision    recall  f1-score   support

           0       0.41      0.04      0.07       184
           1       0.62      0.97      0.75       293

    accuracy                           0.61       477
   macro avg       0.51      0.50      0.41       477
weighted avg       0.54      0.61      0.49       477

############# Globo TV #############
number of NaNs:  38
total:  411
              precision    recall  f1-score   support

           0       0.38      0.04      0.07       144
           1       0.61      0.96      0.75       229

    accuracy                           0.60       373
   macro avg       0.49      0.50      0.41       373
weighted avg       0.52      0.60      0.49       373

############# Lula #############
number of NaNs:  50
total:  272
              precision    recall  f1-score   support

           0       0.50      0.13      0.20       111
           1       0.50      0.87      0.64       111

    accuracy                           0.50       222
   macro avg       0.50      0.50      0.42       222
weighted avg       0.50      0.50      0.42       222





###############################################
# ../reports/test_results/llama3_prompt2_Stance_classification_report.csv
###############################################
############# Church #############
number of NaNs:  0
total:  599
              precision    recall  f1-score   support

           0       0.84      0.57      0.68       339
           1       0.61      0.86      0.71       260

    accuracy                           0.70       599
   macro avg       0.73      0.72      0.70       599
weighted avg       0.74      0.70      0.70       599

############# Bolsonaro #############
number of NaNs:  0
total:  188
              precision    recall  f1-score   support

           0       0.94      0.46      0.62       162
           1       0.19      0.81      0.31        26

    accuracy                           0.51       188
   macro avg       0.57      0.64      0.47       188
weighted avg       0.83      0.51      0.58       188

############# Hidroxicloroquina #############
number of NaNs:  0
total:  574
              precision    recall  f1-score   support

           0       0.68      0.55      0.61       289
           1       0.62      0.74      0.67       285

    accuracy                           0.64       574
   macro avg       0.65      0.65      0.64       574
weighted avg       0.65      0.64      0.64       574

############# Sinovac #############
number of NaNs:  0
total:  774
              precision    recall  f1-score   support

           0       0.54      0.45      0.49       354
           1       0.59      0.67      0.63       420

    accuracy                           0.57       774
   macro avg       0.56      0.56      0.56       774
weighted avg       0.57      0.57      0.57       774

############# Globo TV #############
number of NaNs:  0
total:  411
              precision    recall  f1-score   support

           0       0.75      0.51      0.60       167
           1       0.72      0.88      0.79       244

    accuracy                           0.73       411
   macro avg       0.73      0.70      0.70       411
weighted avg       0.73      0.73      0.72       411

############# Lula #############
number of NaNs:  0
total:  272
              precision    recall  f1-score   support

           0       0.84      0.45      0.58       143
           1       0.60      0.91      0.72       129

    accuracy                           0.67       272
   macro avg       0.72      0.68      0.65       272
weighted avg       0.73      0.67      0.65       272

In [ ]:
list_cr = os.listdir(reports_cr_path)
list_cr.sort()
list_cr

['DummyClassifier_top_mentioned_timelines_Texts_classification_report.csv',
 'DummyClassifier_users_Stance_classification_report.csv',
 'DummyClassifier_users_Timeline_classification_report.csv',
 'XGBClassifier_TfidfVectorizer()_top_mentioned_timelines_Texts_classification_report.csv',
 'XGBClassifier_TfidfVectorizer()_users_Stance_classification_report.csv',
 'XGBClassifier_TfidfVectorizer()_users_Timeline_classification_report.csv',
 'XGBClassifier_TfidfVectorizer_top_mentioned_timelines_Texts_classification_report.csv',
 'bertimbau_xgb_top_mentioned_timelines_emb_Texts_classification_report.csv',
 'bertimbau_xgb_users_emb_Stance_classification_report.csv',
 'bertimbau_xgb_users_emb_Timeline_classification_report.csv',
 'llama3_Stance_classification_report.csv',
 'llama3_bo_Stance_classification_report.csv',
 'llama3_cl_Stance_classification_report.csv',
 'llama3_co_Stance_classification_report.csv',
 'llama3_gl_Stance_classification_report.csv',
 'llama3_ig_Stance_classification_report.csv',
 'llama3_lu_Stance_classification_report.csv',
 'llama3_prompt1_Stance_classification_report.csv']

In [ ]:
df_results = pd.DataFrame({})
for file_name in list_cr:
    
    
    full_file_name = reports_cr_path + file_name
    
    results = pd.read_csv(full_file_name)
    
    results['file_name'] = file_name
    
    df_results = pd.concat([results, df_results])

In [ ]:
results

,Unnamed: 0,class,precision,recall,f1-score,support,Target,file_name
0,0,0,0.727069,0.958702,0.826972,339.000000,Church,llama3_prompt1_Stance_classification_report.csv
1,1,accuracy,0.772955,0.772955,0.772955,0.772955,Church,llama3_prompt1_Stance_classification_report.csv
2,2,weighted avg,0.805558,0.772955,0.758795,599.000000,Church,llama3_prompt1_Stance_classification_report.csv
3,3,macro avg,0.817482,0.744736,0.748437,599.000000,Church,llama3_prompt1_Stance_classification_report.csv
4,4,1,0.907895,0.530769,0.669903,260.000000,Church,llama3_prompt1_Stance_classification_report.csv
5,0,0,0.891429,0.962963,0.925816,162.000000,Bolsonaro,llama3_prompt1_Stance_classification_report.csv
6,1,accuracy,0.867021,0.867021,0.867021,0.867021,Bolsonaro,llama3_prompt1_Stance_classification_report.csv
7,2,weighted avg,0.842614,0.867021,0.847423,188.000000,Bolsonaro,llama3_prompt1_Stance_classification_report.csv
8,3,macro avg,0.714945,0.616097,0.642395,188.000000,Bolsonaro,llama3_prompt1_Stance_classification_report.csv
9,4,1,0.538462,0.269231,0.358974,26.000000,Bolsonaro,llama3_prompt1_Stance_classification_report.csv
10,0,0,0.582022,0.896194,0.705722,289.000000,Hidroxicloroquina,llama3_prompt1_Stance_classification_report.csv
11,1,accuracy,0.623693,0.623693,0.623693,0.623693,Hidroxicloroquina,llama3_prompt1_Stance_classification_report.csv
12,2,weighted avg,0.674086,0.623693,0.592784,574.000000,Hidroxicloroquina,llama3_prompt1_Stance_classification_report.csv
13,3,macro avg,0.674732,0.621781,0.591991,574.000000,Hidroxicloroquina,llama3_prompt1_Stance_classification_report.csv
14,4,1,0.767442,0.347368,0.478261,285.000000,Hidroxicloroquina,llama3_prompt1_Stance_classification_report.csv
15,0,0,0.527687,0.915254,0.669421,354.000000,Sinovac,llama3_prompt1_Stance_classification_report.csv
16,1,accuracy,0.586563,0.586563,0.586563,0.586563,Sinovac,llama3_prompt1_Stance_classification_report.csv
17,2,macro avg,0.670094,0.612389,0.558849,774.000000,Sinovac,llama3_prompt1_Stance_classification_report.csv
18,3,weighted avg,0.682237,0.586563,0.549420,774.000000,Sinovac,llama3_prompt1_Stance_classification_report.csv
19,4,1,0.812500,0.309524,0.448276,420.000000,Sinovac,llama3_prompt1_Stance_classification_report.csv
20,0,0,0.568421,0.970060,0.716814,167.000000,Globo TV,llama3_prompt1_Stance_classification_report.csv
21,1,accuracy,0.688564,0.688564,0.688564,0.688564,Globo TV,llama3_prompt1_Stance_classification_report.csv
22,2,macro avg,0.764369,0.732981,0.685434,411.000000,Globo TV,llama3_prompt1_Stance_classification_report.csv
23,3,weighted avg,0.801080,0.688564,0.679555,411.000000,Globo TV,llama3_prompt1_Stance_classification_report.csv
24,4,1,0.960317,0.495902,0.654054,244.000000,Globo TV,llama3_prompt1_Stance_classification_report.csv
25,0,0,0.692737,0.867133,0.770186,143.000000,Lula,llama3_prompt1_Stance_classification_report.csv
26,1,accuracy,0.727941,0.727941,0.727941,0.727941,Lula,llama3_prompt1_Stance_classification_report.csv
27,2,weighted avg,0.741568,0.727941,0.721091,272.000000,Lula,llama3_prompt1_Stance_classification_report.csv
28,3,macro avg,0.744218,0.720388,0.718427,272.000000,Lula,llama3_prompt1_Stance_classification_report.csv
29,4,1,0.795699,0.573643,0.666667,129.000000,Lula,llama3_prompt1_Stance_classification_report.csv

In [ ]:
df_results[
    (df_results['class'] == 'macro avg') &
    (df_results['file_name'] == 'bertimbau_xgb_top_mentioned_timelines_emb_Texts_classification_report.csv')
    ].sort_values('f1-score')

,Unnamed: 0,class,precision,recall,f1-score,support,Target,file_name,corpus,preprocessing,estimator
8,3,macro avg,0.599099,0.513058,0.495578,188.0,NaN,bertimbau_xgb_top_mentioned_timelines_emb_Text...,bo,emb,"XGBClassifier(base_score=None, booster=None, c..."
28,3,macro avg,0.534621,0.534396,0.534247,272.0,NaN,bertimbau_xgb_top_mentioned_timelines_emb_Text...,lu,emb,"XGBClassifier(base_score=None, booster=None, c..."
23,3,macro avg,0.557252,0.545978,0.538248,411.0,NaN,bertimbau_xgb_top_mentioned_timelines_emb_Text...,gl,emb,"XGBClassifier(base_score=None, booster=None, c..."
3,3,macro avg,0.581873,0.575715,0.574271,599.0,NaN,bertimbau_xgb_top_mentioned_timelines_emb_Text...,ig,emb,"XGBClassifier(base_score=None, booster=None, c..."
13,3,macro avg,0.621411,0.617878,0.615431,574.0,NaN,bertimbau_xgb_top_mentioned_timelines_emb_Text...,cl,emb,"XGBClassifier(base_score=None, booster=None, c..."
18,3,macro avg,0.675719,0.674052,0.674552,774.0,NaN,bertimbau_xgb_top_mentioned_timelines_emb_Text...,co,emb,"XGBClassifier(base_score=None, booster=None, c..."

In [ ]:
df_results_macro = df_results[df_results['class'] == 'macro avg'].sort_values('f1-score')
df_results_macro.head()

,Unnamed: 0,class,precision,recall,f1-score,support,Target,file_name,corpus,preprocessing,estimator
13,3,macro avg,0.251742,0.5,0.334878,574.0,NaN,DummyClassifier_users_Timeline_classification_...,cl,NaN,DummyClassifier()
13,3,macro avg,0.251742,0.5,0.334878,574.0,NaN,DummyClassifier_users_Stance_classification_re...,cl,NaN,DummyClassifier()
13,3,macro avg,0.251742,0.5,0.334878,574.0,NaN,DummyClassifier_top_mentioned_timelines_Texts_...,cl,NaN,DummyClassifier()
28,3,macro avg,0.262868,0.5,0.344578,272.0,NaN,DummyClassifier_top_mentioned_timelines_Texts_...,lu,NaN,DummyClassifier()
28,3,macro avg,0.262868,0.5,0.344578,272.0,NaN,DummyClassifier_users_Stance_classification_re...,lu,NaN,DummyClassifier()

In [ ]:
dict_cp = {
    'cl':'3. Hydrox.',
    'lu':'1. Lula',
    'co':'4. Sinovac',
    'ig':'6. Church',
    'gl':'5. Globo TV',
    'bo':'2. Bolsonaro',
}

In [ ]:
df_results_macro.file_name.sort_values().unique()

array(['DummyClassifier_top_mentioned_timelines_Texts_classification_report.csv',
       'DummyClassifier_users_Stance_classification_report.csv',
       'DummyClassifier_users_Timeline_classification_report.csv',
       'XGBClassifier_TfidfVectorizer()_top_mentioned_timelines_Texts_classification_report.csv',
       'XGBClassifier_TfidfVectorizer()_users_Stance_classification_report.csv',
       'XGBClassifier_TfidfVectorizer()_users_Timeline_classification_report.csv',
       'XGBClassifier_TfidfVectorizer_top_mentioned_timelines_Texts_classification_report.csv',
       'bertimbau_xgb_top_mentioned_timelines_emb_Texts_classification_report.csv',
       'bertimbau_xgb_users_emb_Stance_classification_report.csv',
       'bertimbau_xgb_users_emb_Timeline_classification_report.csv',
       'llama3_Stance_classification_report.csv',
       'llama3_bo_Stance_classification_report.csv',
       'llama3_cl_Stance_classification_report.csv',
       'llama3_co_Stance_classification_report.csv',
       'llama3_gl_Stance_classification_report.csv',
       'llama3_ig_Stance_classification_report.csv',
       'llama3_lu_Stance_classification_report.csv',
       'llama3_prompt1_Stance_classification_report.csv'], dtype=object)

In [ ]:
for file_name in df_results_macro.file_name.sort_values().unique():
    
    print(file_name)
    df_results_macro_c = df_results_macro[df_results_macro.file_name == file_name][['corpus','precision','recall' ,'f1-score']]
    df_results_macro_c.corpus = df_results_macro_c.corpus.map(dict_cp)
    df_results_macro_c.sort_values('corpus', inplace=True)
    
    df_results_macro_c.loc[len(df_results_macro_c)] = {
        'corpus':'overall',
        'precision':df_results_macro_c.precision.mean(),
        'recall':df_results_macro_c.recall.mean(),
        'f1-score':df_results_macro_c['f1-score'].mean(),
    }
    
    df_results_macro_c = df_results_macro_c.round(2)
    display(df_results_macro_c)
    print(' & '.join(df_results_macro_c['f1-score'].astype('str').tolist()))  
    
    print('\n\n\n\n')

DummyClassifier_top_mentioned_timelines_Texts_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.26     0.5      0.34
8   2. Bolsonaro       0.43     0.5      0.46
13    3. Hydrox.       0.25     0.5      0.33
18    4. Sinovac       0.27     0.5      0.35
23   5. Globo TV       0.30     0.5      0.37
3      6. Church       0.28     0.5      0.36
6        overall       0.30     0.5      0.37

0.34 & 0.46 & 0.33 & 0.35 & 0.37 & 0.36 & 0.37





DummyClassifier_users_Stance_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.26     0.5      0.34
8   2. Bolsonaro       0.43     0.5      0.46
13    3. Hydrox.       0.25     0.5      0.33
18    4. Sinovac       0.27     0.5      0.35
23   5. Globo TV       0.30     0.5      0.37
3      6. Church       0.28     0.5      0.36
6        overall       0.30     0.5      0.37

0.34 & 0.46 & 0.33 & 0.35 & 0.37 & 0.36 & 0.37





DummyClassifier_users_Timeline_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.26     0.5      0.34
8   2. Bolsonaro       0.43     0.5      0.46
13    3. Hydrox.       0.25     0.5      0.33
18    4. Sinovac       0.27     0.5      0.35
23   5. Globo TV       0.30     0.5      0.37
3      6. Church       0.28     0.5      0.36
6        overall       0.30     0.5      0.37

0.34 & 0.46 & 0.33 & 0.35 & 0.37 & 0.36 & 0.37





XGBClassifier_TfidfVectorizer()_top_mentioned_timelines_Texts_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.53    0.53      0.53
8   2. Bolsonaro       0.94    0.54      0.54
13    3. Hydrox.       0.61    0.61      0.61
18    4. Sinovac       0.67    0.67      0.67
23   5. Globo TV       0.55    0.54      0.54
3      6. Church       0.61    0.60      0.60
6        overall       0.65    0.58      0.58

0.53 & 0.54 & 0.61 & 0.67 & 0.54 & 0.6 & 0.58





XGBClassifier_TfidfVectorizer()_users_Stance_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.62    0.62      0.62
8   2. Bolsonaro       0.60    0.55      0.56
13    3. Hydrox.       0.73    0.73      0.73
18    4. Sinovac       0.72    0.71      0.71
23   5. Globo TV       0.67    0.66      0.66
3      6. Church       0.69    0.68      0.68
6        overall       0.67    0.66      0.66

0.62 & 0.56 & 0.73 & 0.71 & 0.66 & 0.68 & 0.66





XGBClassifier_TfidfVectorizer()_users_Timeline_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.74    0.74      0.74
8   2. Bolsonaro       0.78    0.64      0.68
13    3. Hydrox.       0.89    0.89      0.89
18    4. Sinovac       0.89    0.87      0.87
23   5. Globo TV       0.64    0.61      0.61
3      6. Church       0.70    0.69      0.69
6        overall       0.77    0.74      0.75

0.74 & 0.68 & 0.89 & 0.87 & 0.61 & 0.69 & 0.75





XGBClassifier_TfidfVectorizer_top_mentioned_timelines_Texts_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.57    0.57      0.57
8   2. Bolsonaro       0.93    0.52      0.50
13    3. Hydrox.       0.61    0.61      0.60
18    4. Sinovac       0.67    0.67      0.67
23   5. Globo TV       0.55    0.54      0.53
3      6. Church       0.61    0.61      0.61
6        overall       0.66    0.59      0.58

0.57 & 0.5 & 0.6 & 0.67 & 0.53 & 0.61 & 0.58





bertimbau_xgb_top_mentioned_timelines_emb_Texts_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.53    0.53      0.53
8   2. Bolsonaro       0.60    0.51      0.50
13    3. Hydrox.       0.62    0.62      0.62
18    4. Sinovac       0.68    0.67      0.67
23   5. Globo TV       0.56    0.55      0.54
3      6. Church       0.58    0.58      0.57
6        overall       0.59    0.58      0.57

0.53 & 0.5 & 0.62 & 0.67 & 0.54 & 0.57 & 0.57





bertimbau_xgb_users_emb_Stance_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.77    0.77      0.77
8   2. Bolsonaro       0.72    0.60      0.63
13    3. Hydrox.       0.83    0.83      0.83
18    4. Sinovac       0.81    0.81      0.81
23   5. Globo TV       0.78    0.78      0.78
3      6. Church       0.87    0.85      0.85
6        overall       0.80    0.77      0.78

0.77 & 0.63 & 0.83 & 0.81 & 0.78 & 0.85 & 0.78





bertimbau_xgb_users_emb_Timeline_classification_report.csv

          corpus  precision  recall  f1-score
28       1. Lula       0.65    0.65      0.65
8   2. Bolsonaro       0.77    0.66      0.69
12    3. Hydrox.       0.78    0.78      0.78
18    4. Sinovac       0.79    0.78      0.78
23   5. Globo TV       0.60    0.59      0.59
3      6. Church       0.67    0.66      0.66
6        overall       0.71    0.68      0.69

0.65 & 0.69 & 0.78 & 0.78 & 0.59 & 0.66 & 0.69





llama3_Stance_classification_report.csv

     corpus  precision  recall  f1-score
17      NaN       0.68    0.62      0.56
13      NaN       0.68    0.62      0.59
8       NaN       0.73    0.64      0.66
22      NaN       0.76    0.73      0.69
28      NaN       0.75    0.72      0.72
3       NaN       0.81    0.74      0.74
6   overall       0.73    0.68      0.66

0.56 & 0.59 & 0.66 & 0.69 & 0.72 & 0.74 & 0.66





llama3_bo_Stance_classification_report.csv

    corpus  precision  recall  f1-score
3      NaN       0.68    0.61      0.63
1  overall       0.68    0.61      0.63

0.63 & 0.63





llama3_cl_Stance_classification_report.csv

    corpus  precision  recall  f1-score
3      NaN        0.7    0.63       0.6
1  overall        0.7    0.63       0.6

0.6 & 0.6





llama3_co_Stance_classification_report.csv

    corpus  precision  recall  f1-score
2      NaN       0.68    0.62      0.57
1  overall       0.68    0.62      0.57

0.57 & 0.57





llama3_gl_Stance_classification_report.csv

    corpus  precision  recall  f1-score
2      NaN       0.76    0.73      0.68
1  overall       0.76    0.73      0.68

0.68 & 0.68





llama3_ig_Stance_classification_report.csv

    corpus  precision  recall  f1-score
3      NaN       0.82    0.75      0.75
1  overall       0.82    0.75      0.75

0.75 & 0.75





llama3_lu_Stance_classification_report.csv

    corpus  precision  recall  f1-score
3      NaN       0.75    0.72      0.72
1  overall       0.75    0.72      0.72

0.72 & 0.72





llama3_prompt1_Stance_classification_report.csv

     corpus  precision  recall  f1-score
17      NaN       0.67    0.61      0.56
13      NaN       0.67    0.62      0.59
8       NaN       0.71    0.62      0.64
22      NaN       0.76    0.73      0.69
28      NaN       0.74    0.72      0.72
3       NaN       0.82    0.74      0.75
6   overall       0.73    0.67      0.66

0.56 & 0.59 & 0.64 & 0.69 & 0.72 & 0.75 & 0.66